# Dependencies
node_modules/
package-lock.json

# Serverless
.serverless/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/
.webpack/

# Coverage
coverage/

# Environment variables
.env*
!.env.example
